<connectionStrings>
  <add name="enode" connectionString="Datasource=192.168.31.125;Database=enode;uid=root;pwd=admin!@#;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
  <add name="forum" connectionString="Datasource=192.168.31.125;Database=enode_forum;uid=root;pwd=admin!@#;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>